<ion-header>
  <ion-toolbar>
    <ion-title>
     Dog 10
     </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
 
  <ion-card>
    <ion-card-title>Cachorro Quente Tradicional</ion-card-title>
    <img src="./assets/img/Cachorro quente tradicional.jpg" />
    <ion-card-header>
      <ion-card-content>
        Um cachorro-quente (também conhecido pelo anglicismo hot dog) é uma comida típica dos Estados Unidos[1]
         em que se coloca salsicha dentro de um pão sovado.
      </ion-card-content>
      <ion-card-subtitle>Preço: R$12,00</ion-card-subtitle>
      <ion-button expand="block">Comprar</ion-button>
    </ion-card-header>
   </ion-card>

   <ion-card>
    <ion-card-title>Cachorro Quente de Churros</ion-card-title>
    <img src="./assets/img/cachorro-quente-de-churros.jpg" />
    <ion-card-header>
        <ion-card-content>
            A ideia foi criada pelo time norte-americano de beisebol Arizona Diamondbacks e está fazendo
            o maior sucesso em todo o mundo. Em um pão de massa de donut, o churros está no lugar da salsicha.
          </ion-card-content>
     <ion-card-subtitle>Preço: R$18,00</ion-card-subtitle>
      <ion-button expand="block">Comprar</ion-button>
    </ion-card-header>
   </ion-card>

   <ion-card>
    <ion-card-title>Torta de Cachorro Quente</ion-card-title>
    <img src="./assets/img/Torta--de-Cachorro-Quente.jpg" />
    <ion-card-header>
        <ion-card-content>
            É um cachorro quente tradicional mas em forma de torta
          </ion-card-content>
     <ion-card-subtitle>Preço: R$28,90</ion-card-subtitle>
      <ion-button expand="block">Comprar</ion-button>
    </ion-card-header>
   </ion-card>

</ion-content>



